[MASTER]
ignore=third-party
ignore-patterns=
    ^third-party/.*$

init-hook='import sys; sys.path.append("src")'

[MESSAGES CONTROL]

enable=all
disable=
    too-many-instance-attributes,
    invalid-name,
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    wrong-import-order,
    too-few-public-methods,
    duplicate-code,
    consider-using-f-string,
    line-too-long,
    unused-argument,
    broad-except,
    too-many-return-statements,
    too-many-branches,
    too-many-statements,
    c-extension-no-member,
    too-many-locals,
    too-many-arguments,
    redefined-builtin,
    superfluous-parens,
    consider-using-enumerate,
    pointless-string-statement,
    redefined-outer-name,
    too-many-boolean-expressions,
    fixme,

[TYPECHECK]
ignored-modules=cv2
ignored-classes=NMEAMessage,RTCMMessage,UBXMessage


[REPORTS]
output-format=text
reports=no