pyserial
adafruit-circuitpython-lis3dh
adafruit-circuitpython-pca9685
adafruit-circuitpython-motorkit
Adafruit-Blinka
adafruit-circuitpython-bme280
adafruit-circuitpython-ens160
adafruit-circuitpython-busdevice
adafruit-circuitpython-register
adafruit-circuitpython-neopixel
adafruit-circuitpython-neopixel-spi
pyubx2
RPi.GPIO
rpi-hardware-pwm
rosdep
Jetson.GPIO
python-can
ultralytics
onnx
onnxruntime
onnxslim
odrive
setuptools==79.0.1
smbus2
PyYAML
wheel