<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="arm_urdf_ros2_control" params="name">
    <ros2_control name="${name}" type="system">
      <hardware>
        <!-- By default, set up controllers for simulation. This won't work on real hardware -->
        <!-- <plugin>mock_components/GenericSystem</plugin> -->
        <plugin>ros2_control_rover_arm/RoverArmHardwareInterface</plugin>
      </hardware>
      <joint name="Joint_1">
        <param name="type">TalonSRX</param>
        <param name="can_id">14</param>
        <param name="kP">11.0</param>
        <param name="kI">0.0005</param>
        <param name="kD">1.0</param>
        <param name="kF">0.0</param>
        <param name="sensor_type">absolute</param> <!-- or "quadrature" -->
        <param name="sensor_ticks">4096</param>
        <param name="sensor_offset">0.0</param>
        <param name="crossover">false</param> <!-- or "continuous" -->
        <param name="invert">false</param>
        <param name="invert_sensor">false</param>
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Joint_3">
        <param name="type">TalonSRX</param>
        <param name="can_id">11</param>
        <param name="kP">6.0</param>
        <param name="kI">0.001</param>
        <param name="kD">0.01</param>
        <param name="kF">0.0</param>
        <param name="sensor_type">absolute</param> <!-- or "quadrature" -->
        <param name="sensor_ticks">4096</param>
        <param name="sensor_offset">0.0</param>
        <param name="crossover">false</param> <!-- or "continuous" -->
        <param name="invert">false</param>
        <param name="invert_sensor">false</param>
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Joint_4">
        <param name="type">TalonSRX</param>
        <param name="can_id">12</param>
        <param name="kP">4.0</param>
        <param name="kI">0.001</param>
        <param name="kD">0.0</param>
        <param name="kF">0.0</param>
        <param name="sensor_type">absolute</param> <!-- or "quadrature" -->
        <param name="sensor_ticks">4096</param>
        <param name="sensor_offset">0.0</param>
        <param name="crossover">false</param> <!-- or "continuous" -->
        <param name="invert">true</param>
        <param name="invert_sensor">true</param>
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Joint_5">
        <param name="type">TalonSRX</param>
        <param name="can_id">19</param>
        <param name="kP">8.5</param>
        <param name="kI">0.001</param>
        <param name="kD">0.001</param>
        <param name="kF">0.0</param>
        <param name="sensor_type">absolute</param> <!-- or "quadrature" -->
        <param name="sensor_ticks">4096</param>
        <param name="sensor_offset">0.0</param>
        <param name="crossover">false</param> <!-- or "continuous" -->
        <param name="invert">false</param>
        <param name="invert_sensor">false</param>
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Joint_6">
        <param name="type">TalonSRX</param>
        <param name="can_id">15</param>
        <param name="kP">0.01</param>
        <param name="kI">0.000001</param>
        <param name="kD">0.0</param>
        <param name="kF">0.0</param>
        <param name="sensor_type">quadrature</param> <!-- or "quadrature" -->
        <param name="sensor_ticks">2039808</param>
        <param name="sensor_offset">0.0</param>
        <param name="continuous">true</param> <!-- or "crossover" -->
        <param name="invert">true</param>
        <param name="invert_sensor">true</param>
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
    <ros2_control name="${name}_odrive" type="system">
      <hardware>
        <!-- By default, set up controllers for simulation. This won't work on real hardware -->
        <!-- <plugin>mock_components/GenericSystem</plugin> -->
        <plugin>odrive_ros2_control_plugin/ODriveHardwareInterface</plugin>
        <param name="can">can0</param>
      </hardware>
      <joint name="Joint_2">
        <param name="node_id">10</param>
        <param name="multiplier">-1.0</param>
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
    <ros2_control name="${name}_fake" type="system">
      <hardware>
        <!-- By default, set up controllers for simulation. This won't work on real hardware -->
        <plugin>mock_components/GenericSystem</plugin>
      </hardware>
    </ros2_control>
  </xacro:macro>
</robot>
